<h2>Sign up</h2>

<form action="/signup" method="post">
  <div>
    <label for="email">Email</label><br />
    <input type="email" id="email" name="email" autofocus autocomplete="email" />
  </div>

  <div>
    <label for="password">Password</label><br />
    <input type="password" id="password" name="password" autofocus autocomplete="new-password" />
  </div>

  <div>
    <label for="passwordConfirmation">Password confirmation</label><br />
    <input type="password" id="passwordConfirmation" name="passwordConfirmation" autofocus autocomplete="new-password" />
  </div>

  <div>
    <button type="submit">
      Sign up
    </button>
  </div>
</form>
