<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Auth Passport</title>
  </head>
  <body>
    <section>
      <div>
        <div>
          <% Object.entries(flash).forEach(([type, messages]) => { %>
            <% messages.forEach((message) => { %>
              <div>
                <%= message %>
              </div>
            <% }) %>
          <% }) %>
        </div>

        <% if(currentUser) { %>
          <a href="/signout">Sign out</a>
        <% } else { %>
          <a href="/signin">Sign in</a>
          <a href="/signup">Sign Up</a>
        <% } %>

        <%- body %>
      </div>
    </section>
  </body>
</html>
